body {
	background-size: 100%;
	min-height:700px;
	margin: auto;
}

#words {
	font-family: "Arial", "Verdana", sans-serif;
	color: gray;
	font-size: 30px;
	text-align: center;
	width: 60%;
	position: relative;
	margin-top: 50px;
	margin-left: auto;
  	margin-right: auto;
}


#header {
	border: 1px black solid;
	position: fixed;
	background-color: #6FB4B7;
	color: white;
	font-family: "Arial", "Verdana", sans-serif;
	font-size: 25px;
    top: 0px;
	height: 60px;
	width: 100%;
}

#header span.active a {
    color: gray;
}

#header a:link {color:white; text-decoration:none;}
#header a:visited {color:white; text-decoration:none;}
#header a:hover {color:gray;}
#header a:active {color:gray;}

#header span {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}


#header_logo{
	visibility:hidden;
}


#title{
	background-color: white;
	height: 100vh;
	position: relative;
	top:120px;
	z-index: -1;
}

#project_description {
	background-color: #6FB4B7;
	height:100vh;
	position: relative;
	z-index: -1;
	padding-top: 35px;
}

#project_description_words {
	background-color: white;
	height: 90%;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 530px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 35px;
	font-size: 22px;
	color: gray;
	text-align:justify;
}

#overview {
	background-color: #b5e0da;
	height:100vh;
	position: relative;
	z-index: -1;
	padding-top: 80px;
}

#project_description_words h1 {
	color: #6FB4B7;
	font-size: 60px;
	margin-bottom: -10px;
}

#project_description_words p {
	padding-left: 30px;
		padding-right: 30px;
}

#overview h2 {
	font-size:40px;
	color: gray;
}

#team {
	align: top;
	height: 100vh;
}

#team img {
	width: 100px;
}

.team_description {
	border: 0px solid black;
	width: 13%;
	float: left;
	padding: 10px;
	margin-left: 65px;
}

.team_description p {
	color: gray;
}

#team h1 {
	font-size: 60px;
	color: #6FB4B7;
	margin-top: 120px;
	margin-bottom: 20px;
}

#team h3 {
	color: #6FB4B7;
	margin-bottom: -5px;
}

.name {
	font-size: 18px;
	color:gray;
}


a.name_link:link {color:gray; text-decoration:none;}
a.name_link:visited {color:gray; text-decoration:none;}
a.name_link:hover {color:#333; text-decoration:none;}
a.name_link:active {color:#333; text-decoration:none;}

#research_intro {
	background-color: #6FB4B7;
	height: 100vh;
	margin-top: 10px;
	padding: 20px;
}

#research_intro h1 {
	font-size: 60px;
	color: #6FB4B7;
}

#research_intro_description {
	width: 70%;
	height: 85%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 30px;
	color: gray;
	text-align:justify;
}

#research{
	background: url(../img/research_books.jpg) no-repeat;
	background-size: cover;
	background-color: white;
	width: 100%;
	height: 100vh;
}


.research_words {
		background: rgba(225, 225, 225, .8);
		height: 190px;
		width: 100%;
}

.research_words p {
	font-family: "Arial", "Verdana", sans-serif;
	font-size: 20px;
	padding-right: 40px;
	padding-left: 280px;
	color: dark-gray;
	
}

#research h1 {
	color: #6FB4B7;
}

#literature_review{
	height: 280px;
	padding-top: 65px;
}

#competitive_analysis{
	height: 280px;
	padding-top: 30px;
	
}

#interviews{
	background-size: cover;
	background-color: white;
	width: 100%;
	height: 100vh;
	padding-top: 70px;
}

img.interview {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.interview_div {
	width: 33%;
	float: left;
}

.interview_words {
	width: 300px;
}

.interview_words h1 {
	color: #6FB4B7;
}

.interview_words p {
	color: gray;
	text-align: justify;
}

#design {
	background-color: #b5e0da;
	height: 620px;
	margin-top: 20px;
	padding-top: 30px;
}

#design h1 {
	color: #FFFFFF;
	font-size: 60px;	
}	